$light-gray: #666666;
$input-color:  #a8b4c9;
$list-hover-color: rgba(0,0,0, 0.05);
$list-text-color: #151515;
$list-border-color:#e7e7e7;
$navigation-menu:#1C1C1C;
$dark-font-color:#2F2F2F;
$loader-color:rgba(0,0,0, 0.06);
$balance-title:#2F2F2F;