.days-selector{
    position: relative;
    width: 50%;
    z-index: 1;
    &-selected{
        align-items: center;
        padding: 0px 10px;
        cursor: pointer;
        svg{
            font-size: 18px;
            margin-right: 10px;
        }
    }
    &-options {
        width: 100%;
        position: absolute;
        background: white;
        height: 200px;
        overflow-y: auto;
        li{
            padding: 0px 10px;
            height: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover{
                background: rgba(0,0,0, 0.05);
            }
        }
    }
}