.guardian-top {
  background: white;
  min-height: 154px;
  box-shadow: 0px 5px 10px #0812261a;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  overflow: visible;
  position: relative;
  z-index: 20;

  .component-wrapper {
    flex-wrap: wrap;
    gap: 24px;
    min-width: 0;
    width: 100%;
  }
  &-mobile-toggle {
    display: none;
    width: 20px;
    height: 10px;
    margin-top: 20px;
    figure {
      height: 2px;
      background: black;
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 50%;
        margin-top: auto;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .app--tablet .guardian-top {
    height: auto;

    .component-wrapper {
      align-items: flex-start;
    }
  }
}

@media (max-width: 767px) {
  .app--mobile .guardian-top {
    overflow: visible;
    height: auto;
    padding: 20px;
    box-shadow: none;
    .component-wrapper {
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.5);
      gap: 0;
      padding: 18px;
      min-width: 0;
    }
    &-mobile-toggle {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 12px;
    }
  }
}
