@import '../../scss/colors/colors.scss';
.balance-section {
    height: 100%;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    &:nth-child(1) {
        padding-left: 0px;
        &::after {
            display: none;
        }
    }

    &::after {
        position: absolute;
        content: '';
        left: 0px;
        width: 1px;
        height: 75px;
        background: #D9D9D9;
    }
    img{
        width: 15px;
        height: 15px;
        margin-top: auto;
        object-fit: contain;
        margin-bottom: 8px;
        margin-left: 5px;
    }
    &-bold{
        font-size: 25px;
        font-weight: 600;
        font-family: 'Nunito Sans';
    }
    &-small {
        font-size: 14px;
        color: black;
        margin-top: 10px;
        width: 100%;
    }
   
    h4 {
        margin-bottom: 15px;
        font-size: 18px;  
        font-family: 'Nunito Sans';               
    }

    h5 {
        font-size: 18px;
        font-weight: 600;
        color: $dark-font-color;
        margin-bottom: 10px;
    }
    .loader{
        width: 100px;
        height: 20px;
    }
}