@import 'scss/theme/foundation.scss';
.guardian-delegators {
    &-list {
        height: 100%;

        a{
            max-width: 440px;
            img{
           margin-left: auto;
               
            }
        }

        .guardian-delegators-table {
            min-height: 360px;

            .list-titles {
                text-transform: none;
            }

            th,
            td {
                &:nth-child(1) {
                    width: 54%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 23%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .app--mobile .guardian-delegators-list {
        padding: 0 12px 24px;

        .guardian-delegators-table {
            min-height: 330px;

            th,
            td {
                &:nth-child(1) {
                    width: 46%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 27%;
                }
            }
        }
    }
}
